@page "/profesor"
@using ComIT.Comunes.Entities
@inject NavigationManager navigation
@rendermode InteractiveServer

<h1>Profesor</h1>

@* <h3>Nuevo profesor</h3>

@if (EstamosModificando)
{
    <button type="button" class="btn btn-primary" @onclick="GuardarCambios">Guardar Cambios</button>
}
else
{
    <button type="button" class="btn btn-primary" @onclick="Agregar">Agregar profesor</button>
}
<br />

@if (MensajeError != "")
{
    <label style="background-color: red;">@MensajeError</label>
} *@

<ProfesorModal @ref="modal" Data="ProfesorModificando" GuardarEventCallback="Guardar" Modificando="EstamosModificando" />

<button type="button" class="btn btn-primary" @onclick="NuevoProfesor">Nuevo</button>

<ProfesoresListado Datos="@ProfesoresList" MostrarBotones="true" ModificarEvent="Modificar" EliminarEvent="Eliminar">
</ProfesoresListado>

