@page "/profesor"
@rendermode InteractiveServer

<h1>Profesor</h1>

<button class="btn-primary" @onclick="NuevoProfesor">Nuevo</button>

<ProfesoresListado Datos="@ProfesoresList" MostrarBotones="true" ModificarEvent="Modificar" EliminarEvent="Eliminar">
</ProfesoresListado>

